{% extends 'front.html.twig' %}

{% block title %}New Contrat{% endblock %}

{% block body %}
    <h1>Create new Contrat</h1>

    {{ include('contrat/_formf.html.twig') }}

    <a href="{{ path('app_contrat_indexf') }}">back to list</a>
{% endblock %}
